/* body */
body{
background-color: #E9ECEF;
}
/* body */


/* dropdown-item */
.dropdown-item {
    display:flex; align-items: center;
}
/* dropdown-item */

/* dropdown-item i */
.dropdown-item i{
    flex: 0 0 30px;
}
/* dropdown-item i */

/* section */
section{
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 10px;
    
}
/* section */

/* footer */
footer{
    margin-top: 20px;
}
/* footer */

footer div.footer-head{
    /* background: #6351ce; */
    /* background: linear-gradient(297deg, rgba(9,88,159,1) 8%, rgba(166,88,196,0.9836309523809523) 53%, rgba(148,88,196,1) 100%); */
    /* background: linear-gradient(297deg, rgba(9,88,159,1) 8%, rgba(166,88,196,1) 61%, rgba(111,21,207,1) 100%); */
    /* background: linear-gradient(305deg, rgba(12,119,215,1) 9%, rgba(221,67,48,1) 33%, rgba(152,71,199,1) 68%, rgba(111,21,207,1) 100%); */
    /* background: linear-gradient(305deg, rgba(12,119,215,1) 0%, rgba(115,45,241,1) 14%, rgba(221,67,48,1) 30%, rgba(152,71,199,1) 62%, rgba(111,21,207,1) 100%);    */
    /* background: linear-gradient(305deg, rgba(12,119,215,1) 0%, rgba(107,45,241,1) 12%, rgba(221,67,48,1) 26%, rgba(152,71,199,1) 62%, rgba(111,21,207,1) 100%); */
    /* background: linear-gradient(305deg, rgba(12,119,215,1) 0%, rgba(50,82,255,1) 4%, rgba(221,67,48,1) 26%, rgba(152,71,199,1) 58%, rgba(111,21,207,1) 88%, rgba(81,41,203,1) 100%); */
    background: linear-gradient(305deg, rgba(81,41,203,1) 0%, rgba(111,21,207,1) 4%, rgba(221,67,48,1) 26%, rgba(152,71,199,1) 58%, rgba(111,21,207,1) 88%, rgba(81,41,203,1) 100%);
}

/* image-logo */
.image-logo {
    display: flex;
    margin: auto;
    width: 50%;
}
.text-responsive-1{
    font-size: 1vw;
}

.text-responsive-2{
    font-size: 2vw;
}
/* image-logo */

/* for cards */

.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    color: #7f50d4;
}
.single_advisor_profile:hover{
    color: #ffffff;
}
.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background: linear-gradient(162deg, rgb(144, 97, 175) 0%, rgb(55, 18, 219) 100%);
    /* background-color: #623ffd; */
    overflow: hidden;
    
}

.single_advisor_profile .advisor_thumb img{
    display: flex;
    margin: auto;
    width: 100%;
}

.btn-primary{
    background-color: #7f50d4;
    color: #ffffff;
    font-weight: bolder;
    border-color: #ffffff;
}
.btn-primary:hover{
    background-color: #ffffff;
    color: #7f50d4;;
    border-color: #7f50d4;
}
.btn-primary:focus{
    background-color: #7f50d4 !important;
    color: #ffffff !important;
    outline: none;
    box-shadow: none;
}

.btn-primary:active{
    background-color: #615ac9 !important;
    color: #ffffff !important;
    outline: none;
    box-shadow: none;
    transform: translateY(2px);

}

/* .btn-primary:active:focus {
    color: #ffffff !important;
    background-color: #1F2838 !important;
    border-color: #494F57 !important;
    color: #ffffff; 
    /* background-color: #3d02aa; 
    border-color: #ffffff; */


.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}
.single_advisor_profile .advisor_thumb .info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

.single_advisor_profile .advisor_thumb .info button {
    font-size: 14px;
    color: #3d02aa;
    padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .info button:hover,
.single_advisor_profile .advisor_thumb .info button:focus {
    color: #813ffd;
}
.single_advisor_profile .advisor_thumb .info h6:hover{
    color: white;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #813ffd;
    content: "";
    top: 12px;
    right: 30px;
}
.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}
.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #813ffd;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #813ffd;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
}

/* for cards */